.list {
    list-style: none;
}

.link,
.logo {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;    
}
/*--------------- Components ---------------*/
.footer {
    background: #2F303A;
} 

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;    
}

span.black {
    color: #000000;
}

span.white {
    color: #FFFFFF
}

.navi-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.hedar-mail,
.hedar-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.navi-link:hover,
.navi-link:focus,
.hedar-mail:hover,
.hedar-mail:focus,
.hedar-tel:hover,
.hedar-tel:focus {
    color: #2196F3;
}

/*--------------- Components ---------------*/

/*--------------- Hero ---------------*/

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /*color: #FFFFFF;*/
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}

/*--------------- /Hero ---------------*/

/*--------------- Advantages ---------------*/

.advantages-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*--------------- /Advantages ---------------*/

/*--------------- What are we doing ---------------*/

.we-doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

/*--------------- /What are we doing ---------------*/

/*--------------- Our team ---------------*/

.team {
    background: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
}

/*--------------- /Our team ---------------*/

/*--------------- Footer ---------------*/

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail,
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*--------------- /Footer ---------------*/

/*--------------- Portfolio menu---------------*/

.menu-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}

.menu-btn:hover,
.menu-btn:focus {    
    color: #FFFFFF;  
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/*--------------- /Portfolio menu---------------*/

/*--------------- Portfolio gallery---------------*/

.gallery-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
}

.gallery-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/*--------------- /Portfolio gallery---------------*/
